/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #e8eef3, #f5f9fc);
    color: #222;
    padding: 0;
    margin: 0;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: #00c8ff;
    padding: 18px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: black;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 8px 12px;
    transition: 0.3s ease;
    border-radius: 6px;
}

.nav-links li a:hover {
    background: black;
    color: #00c8ff;
}

/* PAGE TITLE */
.main-title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 700;
    color: #222;
}

/* INTRO CARD */
.intro-card {
    background: white;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
}

/* COURSE DETAILS */
.intro-card p {
    margin: 8px 0;
    font-size: 18px;
}

/* STUDENT TABLE */
.student-table {
    width: 80%;
    margin: 30px auto 0 auto;
    border-collapse: collapse;
    font-size: 17px;
}

.student-table th {
    background: #00c8ff;
    color: black;
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
}

.student-table td {
    background: #f9f9f9;
    padding: 12px;
    border: 1px solid #ccc;
}

.student-table tr:nth-child(even) td {
    background: #eef7ff;
}

/* MOBILE */
@media (max-width: 700px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .intro-card {
        width: 90%;
        padding: 25px;
    }

    .student-table {
        width: 100%;
    }
}
